node_modules
dist
tmp
out-tsc
bazel-out

npm-debug.log
yarn-error.log

.git
.vscode
.angular
.sass-cache
connect.lock
coverage
libpeerconnection.log
testem.log
typings
__screenshots__

.DS_Store
Thumbs.db
